{% extends 'base.html' %}

{% load static %}
{% block content %}
 		<!-- Main Section Start -->
     <div class="main-section pt-5">

      <div class="page-section">
        <div class="container ">
          <div class="row">
          
            <!-- 1st col Billing address section-->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

              <div class="tabs-holder horizontal">
                <ul class="stickynav-tabs nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#home"><i class="fa fa-shopping-cart text-danger"></i>Billing address</a></li>
                </ul>

                <div class="tab-content">
                  <div id="home" class="tab-pane in active">
                    <div class="menu-itam-holder">
                      <div id="menu-item-list-6272" class="menu-itam-list">
                        <!-- Form-->
                        <form action="#" method="POST">
                          {% csrf_token %}

                          <div class="row">
                              <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                  First Name: {{ form.first_name }}
                              </div>
                              <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                  Last Name: {{ form.last_name }}
                              </div>
                          </div>

                          <div class="row">
                              <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                  Phone Number: {{ form.phone }}
                              </div>
                              <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                  Email Address: {{ form.email }}
                              </div>
                          </div>

                          <div class="row">
                              <div class="form-group col-md-12 col-sm-12 col-lg-12">
                                  Address: {{ form.address }}
                              </div>
                          </div>

                          <div class="row">
                              <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                  Country: {{ form.country }}
                              </div>
                              <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                  State: {{ form.state }}
                              </div>
                          </div>

                          <div class="row">
                              <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                  City: {{ form.city }}
                              </div>
                              <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                  Pin Code: {{ form.pin_code }}
                              </div>
                          </div>

                      </div>

                     
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>

            <!-- 2nd col-->
            <!-- payment method section -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                  <div class="tabs-holder horizontal">
                      <ul class="stickynav-tabs nav nav-tabs">
                          <li class="active"><a data-toggle="tab" href="#home"><i class="icon- icon-room_service"></i>Payment Method</a></li> 
                      </ul>
                      <div class="tab-content">
                          <div id="home" class="tab-pane in active">
                              <div class="menu-itam-holder">
                                  
                                <!--Display cart items -->
                                <div id="menu-item-list-6272" class="menu-itam-list">      
                                  <ul> 
                                    {% if cart_items %}
                                       {% for item in cart_items %}
                               
                                       <li id="cart-item-{{item.pk}}">
                                         <div class="image-holder"><img src="{{item.fooditem.image.url}}" alt=""></a></div>
                                         <div class="text-holder">
                                           <h6>{{item.fooditem.food_title}}</h6>
                                           <span>{{item.fooditem.description}}</span>
                                           <a href="{% url 'market:vendor_detail' item.fooditem.vendor.vendor_slug %}" class="badge badge-primary">{{item.fooditem.vendor}}</a>
                                           
                                         </div>
                                         <div class="price-holder">
                                          <div class="quantity" style="display: inline-block; margin-right: 10px;">
                                            <span>{{ item.quantity }} QTY</span>
                                          </div>
                                           <span class="price">{{item.fooditem.price}}</span>
                                            
                                         </div>
                                       </li>
                                       {% endfor %}
                                       
                                     {% else %}
                                       <div class="text-center p-5">
                                         <h3>Cart is empty</h3>
                                       </div>  
                                     {% endif %}  
                                 </ul>
                                </div>  
                                 <!--END Display cart items -->
                                <!--total cost and payment method -->
                              
                                  <ul>
                                      <li style="list-style-type: none;">
                                          Subtotal
                                          <span class="price float-right">
                                              <span class="currency">$</span>
                                              <span id="subtotal">{{subtotal}}</span>
                                          </span>
                                      </li>

                                      <!--Display tax  -->
                                      {% for key,value in tax_dict.items %}
                                          {% for percent,amt in value.items %}
                                              <li style="list-style-type: none; font-weight: 600;">
                                                {{key}} <small>( {{percent}} % )</small>
                                                <span class="price float-right">
                                                  <span class="currency">$</span>
                                                  <span id="tax-{{key}}">{{amt}}</span>
                                                </span>
                                              </li>
                                          {% endfor %}
                                        {% endfor %}

                                      <li style="list-style-type: none; font-weight: 600;">
                                           Total
                                          <span class="price float-right">
                                              <span class="currency">$</span>
                                              <span id="total">{{grand_total}}</span>
                                          </span>
                                      </li>
                                      <button  type="submit" class="btn btn-danger w-100 p-2 mt-3">PLACE ORDER</button>

                                  </ul>
                           
                                <!-- end cost and payment-->
                            </div>
                          </div>
                          
                      </div>
                  </div>
              </div>    
            
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Main Section End -->
{% endblock %}

