{% extends 'base.html' %}

{% load static %}
{% block content %}
 		<!-- Main Section Start -->
     <div class="main-section pt-5">

      <div class="page-section">
        <div class="container ">
          <div class="row">
          
            <!-- 1st col Billing address section-->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

              <div class="tabs-holder horizontal">
                <ul class="stickynav-tabs nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#home"><i class="fa fa-shopping-cart text-danger"></i>Billing address</a></li>
                </ul>

                <div class="tab-content">
                  <div id="home" class="tab-pane in active">
                    <div class="menu-itam-holder">
                      <div id="menu-item-list-6272" class="menu-itam-list">
                        <!-- Address-->
                        <div class="billing-address">
                          <div><b>{{ order.name }}</b></div>
                          <div>{{ order.address }}</div>
                          <div>{{ order.city }} - {{ order.pin_code }}</div>
                          <div>{{ order.state }}, {{ order.country }}</div>
                          <div><b>Phone: </b>{{ order.phone }}</div>
                          <div><b>Email: </b>{{ order.email }}</div>
                          <div><b>Payment: </b>{{ order.payment_method }}</div>
                          <br>
                          <div><a href="{% url 'checkout' %}" class="btn btn-outline-danger">Edit</a></div>
                          <br>

                      </div>
                      
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>

            <!-- 2nd col-->
            <!-- payment method section -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                  <div class="tabs-holder horizontal">
                      <ul class="stickynav-tabs nav nav-tabs">
                          <li class="active"><a data-toggle="tab" href="#home"><i class="icon- icon-room_service"></i>Payment Method</a></li> 
                      </ul>
                      <div class="tab-content">
                          <div id="home" class="tab-pane in active">
                              <div class="menu-itam-holder">
                                  
                                <!--Display cart items -->
                                 <div id="menu-item-list-6272" class="menu-itam-list">      
                                  <ul> 
                                    {% if cart_items %}
                                       {% for item in cart_items %}
                               
                                       <li id="cart-item-{{item.pk}}">
                                         <div class="image-holder"><img src="{{item.fooditem.image.url}}" alt=""></a></div>
                                         <div class="text-holder">
                                           <h6>{{item.fooditem.food_title}}</h6>
                                           <span>{{item.fooditem.description}}</span>
                                           <a href="{% url 'market:vendor_detail' item.fooditem.vendor.vendor_slug %}" class="badge badge-primary">{{item.fooditem.vendor}}</a>
                                           
                                         </div>
                                         <div class="price-holder">
                                          <div class="quantity" style="display: inline-block; margin-right: 10px;">
                                            <span>{{ item.quantity }} QTY</span>
                                          </div>
                                           <span class="price">{{item.fooditem.price}}</span>
                                            
                                         </div>
                                       </li>
                                       {% endfor %}
                                       
                                     {% else %}
                                       <div class="text-center p-5">
                                         <h3>Cart is empty</h3>
                                       </div>  
                                     {% endif %}  
                                 </ul>
                                </div>  
                                 <!--END Display cart items -->
                                <!--total cost and payment method -->
                              
                                  <ul>
                                      <li style="list-style-type: none;">
                                          Subtotal
                                          <span class="price float-right">
                                              <span class="currency">$</span>
                                              <span id="subtotal">{{subtotal}}</span>
                                          </span>
                                      </li>

                                      <!--Display tax  -->
                                      {% for key,value in tax_dict.items %}
                                          {% for percent,amt in value.items %}
                                              <li style="list-style-type: none; font-weight: 600;">
                                                {{key}} <small>( {{percent}} % )</small>
                                                <span class="price float-right">
                                                  <span class="currency">$</span>
                                                  <span id="tax-{{key}}">{{amt}}</span>
                                                </span>
                                              </li>
                                          {% endfor %}
                                        {% endfor %}

                                      <li style="list-style-type: none; font-weight: 600;">
                                           Total
                                          <span class="price float-right">
                                              <span class="currency">$</span>
                                              <span id="total">{{grand_total}}</span>
                                          </span>
                                      </li>
                                      <!-- Select Payment Method-->
                                      {% if order.payment_method == 'PayPal' %}
                                        <div id="paypal-button-container"></div>
                                      {% elif order.payment_method == 'RazorPay' %}
                                        <div id="rzp_payment_button">
                                          <button class="btn btn-danger w-100 p-2" id="rzp-button1">Pay with RazorPay</button>
                                          <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
                                        </div>
                                      {% endif %}
                                  
                                  </ul>
                           
                                <!-- end cost and payment-->
                            </div>
                          </div>
                          
                      </div>
                  </div>
              </div>    
            
            </div>
            
          </form>
        </div>
      </div>
    </div>
    <!-- Main Section End -->
    <script>

      // using jQuery
function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie != '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
          var cookie = jQuery.trim(cookies[i]);
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) == (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
          }
      }
  }
  return cookieValue;
}
      var csrftoken = getCookie('csrftoken');
      var grand_total= '{{grand_total}}'
      var payment_url="{% url 'order:payments' %}"
      var order_complete_url="{% url 'order:order_complete' %}"
      var order_number={{order.order_number}}
       // Render the PayPal button into #paypal-button-container
      //console.log(payment_url,order_number,csrftoken)
    paypal.Buttons({

      // Set up the transaction
      createOrder: function(data, actions) {
          return actions.order.create({
              purchase_units: [{
                  amount: {
                      value: grand_total
                  }
              }]
          });
      },

      // Finalize the transaction
      onApprove: function(data, actions) {
          return actions.order.capture().then(function(orderData) {
              // Successful capture! For demo purposes:
              console.log(orderData)
              var transaction = orderData.purchase_units[0].payments.captures[0];
              var transaction_id=transaction.id
              var status=orderData.status
              var payment_method="PayPal"
              console.log(transaction_id,status)

              sendTransaction(transaction_id,status,payment_method)
          
          });
      }

  }).render('#paypal-button-container');

  //razorpay payment section 
var options = {
  "key": "{{razorpay_key_id}}", // Enter the Key ID generated from the Dashboard
  "amount": "{{razorpay_amount}}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
  "currency": "INR",
  "name": "foodOnline", //your business name
  "description": "Complete your payment",
  "image": "{% static 'logo/foodOnlineLogo.png' %}",
  "order_id": "{{razorpay_order_id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
  "handler": function (response){
      console.log(response)
      alert(response.razorpay_payment_id);
      alert(response.razorpay_order_id);
      alert(response.razorpay_signature)
  },
  "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information, especially their phone number
     "name": "{{order.name}}",//your customer's name
     "email": "{{order.email}}",
     "contact": "{{order.phone}}"//Provide the customer's phone number for better conversion rates 
  },
  "notes": {
      "address": "Razorpay Corporate Office"
  },
  "theme": {
      "color": "#3399cc"
  }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
      alert(response.error.code);
      alert(response.error.description);
      alert(response.error.source);
      alert(response.error.step);
      alert(response.error.reason);
      alert(response.error.metadata.order_id);
      alert(response.error.metadata.payment_id);
});
document.getElementById('rzp-button1').onclick = function(e){
  rzp1.open();
  e.preventDefault();
}

  //send data to payment view to store in db
  function sendTransaction(transaction_id,status,payment_method){
      $.ajax({
        type:'POST',
        url:payment_url,
        data:{
          'order_number':order_number,
          'transaction_id':transaction_id,
          'payment_method':payment_method,
          'status':status,
          'csrfmiddlewaretoken':csrftoken
        },
        success:function(response){
          console.log(response)
          window.location.href=order_complete_url+'?order_no='+response.order_number+'&trans_id='+response.transaction_id
        }
      })
  }

    </script>
{% endblock %}

